@charset "utf-8";

// -----------------------------------------------------
// #Media Query
// -----------------------------------------------------

// ----
// * ex)
//   @include media-sp {}
//   @include media-pc {}
// ----
@mixin media-sp {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin media-pc {
  @media print, screen and (min-width: $break-point + 1) {
    @content;
  }
}


// // レイアウト幅
// $layout-width-inner: 1180px;

// // ブレークポイント
// $breakpoints: (
//   "sp": "screen and (max-width: 767px)",
//   "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
//   "pc": "screen and (min-width: #{$layout-width-inner})",
// );

// // メディアクエリー
// @mixin mq($breakpoint: sp) {

//   @media #{map-get($breakpoints, $breakpoint)} {

//     @content;
//   }
// }

// -----------------------------------------------------
// #Position
// -----------------------------------------------------
@mixin center($direction: xy, $position: absolute) {
  position: $position;
  @if $direction==xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $direction==x {
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction==y {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// -----------------------------------------------------
// #Border
// -----------------------------------------------------
@mixin b($color: $color-border) {
  border: $width-border-form solid $color;
}

@mixin mt {
  @include media-sp() {
    margin-top: $blank-space-sp;
  }
  @include media-pc() {
    margin-top: $blank-space-pc;
  }
}

@mixin mr {
  @include media-sp() {
    margin-right: $blank-space-sp;
  }
  @include media-pc() {
    margin-right: $blank-space-pc;
  }
}

@mixin mb {
  @include media-sp() {
    margin-bottom: $blank-space-sp;
  }
  @include media-pc() {
    margin-bottom: $blank-space-pc;
  }
}

@mixin ml {
  @include media-sp() {
    margin-left: $blank-space-sp;
  }
  @include media-pc() {
    margin-left: $blank-space-pc;
  }
}


// -----------------------------------------------------
// #Transition
// -----------------------------------------------------
@mixin transition-fade {
  transition: opacity 0.1s linear;
}

// -----------------------------------------------------
// #Hover
// -----------------------------------------------------

// PCのみマウスホバーで少し透明に
@mixin hover-fade {
  @include transition-fade;
  @include media-pc { 
    &:hover {
      opacity: 0.7;
    }
  }
}

// -----------------------------------------------------
// #Text
// -----------------------------------------------------

// sans serifのフォント
@mixin font-sans {
  font-family: -apple-system, BlinkMacSystemFont, YuGothic, "Hiragino Sans",
    "Meiryo", sans-serif;
}

@mixin font-serif {
  font-family: "YuMincho", "Yu Mincho", serif;
}

@mixin font-en {
  font-family: 'Lato', sans-serif;
}

// リンクの色とhoverを設定する
@mixin link-colors($color: $color-link) {
  color: $color;
  text-decoration: none;
  &:hover {
    color: lighten($color, 15%);
    text-decoration: underline;
  }
  // &:visited {
  //   color: desaturate($color, 50%);
  // }
}

// 自動で背景のグラデーション作成
@mixin bg-gradient($angle: 180deg, $color: #0bd, $amount: 20%) {
  background: linear-gradient($angle, $color, adjust-hue($color, $amount)) fixed;
}

// ----
// フォーム周りのリセット
// * ex)
//   @include none-appearance;
@mixin none-appearance {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none transparent;
  background-clip: padding-box;
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
  box-sizing: border-box;
  &::-ms-clear {
      display: none;
  }
  &::-ms-reveal {
      display: none;
  }
  &::-ms-expand {
      display: none;
  }
}

// ----
// 三角形作るやつ
// * ex) @include triangle(#000, 6px, 6px, top); 色, width, height, 頂点の方向(top/right/bottom/left)
// ----
@mixin triangle($color: #000, $width: 10px, $height: 10px, $dir: top) {
  width: 0;
  height: 0;
  @if $dir == 'top' {
      border-width: 0 #{$width/2} #{$height} #{$width/2};
      border-color: transparent transparent $color transparent;
  } @else if $dir == 'bottom' {
      border-width: #{$height} #{$width/2} 0 #{$width/2};
      border-color: $color transparent transparent transparent;
  } @else if $dir == 'right' {
      border-width: #{$height/2} 0 #{$height/2} #{$width};
      border-color: transparent transparent transparent $color;
  } @else {
      border-width: #{$height/2} #{$width} #{$height/2} 0;
      border-color: transparent $color transparent transparent;
  }
  border-style: solid;
}

$layer: (
  modal: 100,
  header: 20,
  tooltip: 10,
  default: 1
);

@mixin z-index($key) {
  z-index: map-get($layer, $key: $key)
}